/* couleur du thème */
$--color-primary: #1E969D;
$--color-success: #484538;
$--color-info: #cad49d;
$--color-warning: purple;
$--color-danger: #851922;

$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

